.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 2;
  overflow-y: scroll;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  transform: translate(-50%, -50%);
  background-color: var(--white-color);
  padding: 40px;
  border-radius: 4px;

  &-close {
    position: absolute;
    right: 8px;
    top: 8px;
    width: 30px;
    height: 30px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
  }

  &-submit {
    display: block;
    margin: 0 auto;
    padding: 10px 52px;
    background-color: var(--accent-color);
    color: var(--white-color);
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    border-radius: 4px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
  }

  &-title {
    text-align: center;
    font-style: 400;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 12px;
    text-align: center;
    color: var(--black-color);

    @media screen and (min-width: 480px) and (max-width:1200px) {
      line-height: 1.5;
    }
  }

  &-label {
    display: block;
    margin-bottom: 10px;
  }

  &-sign {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    margin-bottom: 4px;
  }
}

@media screen and (min-width: 480px) and (max-width:1200px) {
  .modal {
    width: 450px;
    height: 609px;
    transform: translate(-50%, -61%);
  }
}

@media screen and (min-width: 768px) {
  .modal {
    transform: translate(-50%, -50%);
  }
}

.modal-X {
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

.modal-input {
  display: block;
  width: 100%;
  padding: 12px 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  outline: none;

  &:focus+.modal-icon {
    fill: var(--accent-color);
  }

  &:hover+.modal-icon {
    fill: var(--accent-color);
  }
}

.modal-input:focus,
.modal-input:hover,
.modal-comment:focus.modal-comment:focus,
.modal-comment:hover {
  border: 1px solid var(--accent-color);
}

.modal-box {
  position: relative;
}

.modal-icon {
  position: absolute;
  left: 0;
  top: 50%;
  margin-left: 12px;
}


.modal-comment {
  width: 100%;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 120px;
  resize: none;
  outline: none;


  &::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}

.checkbox-text {
  padding-right: 15px;
  line-height: 1.7;

  @media screen and (min-width:480px) and (max-width:1200px) {
    line-height: 1.2;
    font-size: 12px;
    padding-right: 0;
  }
}

.checkbox-link {
  color: var(--accent-color);
}

.checkbox-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-bottom: 30px;
  position: absolute;

  &:checked+.checkbox-span {
    background-color: var(--accent-color);
    background-image: url(../images/vector3.svg);
    background-repeat: no-repeat;
    background-origin: content-box;
    border-color: var(--accent-color);
    margin-right: 8px;
    border-radius: 4px;
  }
}

.checkbox-span {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  background-color: transparent;
  border: 2px solid #212121;
  border-radius: 3px;
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  padding-top: 5px;
}