.characteristic {
  padding-top: 94px;
  padding-bottom: 94px;

  &-list {
    display: flex;

    @media (min-width: 320px) and (max-width: 768px) {
      // @media screen and (min-width:480px) {
      display: block;
      max-width: 100%;
    }

    @media screen and (min-width:768px) {
      display: flex;
      flex-wrap: wrap;
    }

    @media screen and (min-width:1200px) {
      padding-top: 94px;
      padding-bottom: 94px;

      &-list {
        display: flex;
      }
    }
  }

  &-text {
    line-height: 1.7;
  }

  &-subtitle {
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 10px;
    line-height: 1.1;
    text-transform: uppercase;
    color: var(--title-text-color);

    @media screen and (min-width:480px) {
      text-align: center;
    }

    @media screen and (min-width:768px) {
      text-align: start;
    }
  }

  @media screen and (min-width:480px) {
    padding-top: 60px;
    padding-bottom: 60px;

  }
}

.characteristic-item {

  &::before {
    display: block;
    content: "";
    height: 120px;
    background-color: var(--background-semi-dark);
    background-size: 70px;
    background-repeat: no-repeat;
    background-image: url(../images/antenna.png);
    background-position: center;
    margin-bottom: 30px;
  }

  &:last-child {
    margin-right: 0;
  }

  &--clock::before {
    background-image: url(../images/clock.png);
  }

  &--diagram::before {
    background-image: url(../images/diagram.png);
  }

  &--astronaut::before {
    background-image: url(../images/astronaut.png);
  }

  @media screen and (min-width:480px) {
    max-width: 100%;
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @media screen and (min-width:768px) {
    max-width: 354px;
    margin-right: 30px;

    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  @media screen and (min-width:1200px) {
    max-width: 270px;

    &:nth-child(2n) {
      margin-right: 30px;
    }

    &:last-child {
      margin-right: 0;
    }
  }

}



.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  margin-bottom: 50px;
  text-align: center;
}



.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}