.footer-form__text {
  display: block;
  font-weight: 700;
  line-height: 1.14;
  margin-bottom: 20px;
  color: var(--white-color);
  text-transform: uppercase;
}

.footer-block {
  display: flex;

  @media screen and (min-width: 320px) {
    display: block;
  }
}

.mod-label {
  margin-right: 10px;

  @media screen and (min-width: 320px) and (max-widtn:1199px) {
    margin-right: 0;
  }


}

.mod-input {
  outline: none;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  width: 358px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: var(--background-dark-color);
  color: var(--white-color);

  &:hover,
  &:focus {
    border: 1px solid var(--accent-color);
  }

  &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);
  }

  @media screen and (min-width: 320px)and (max-width: 767px) {
    width: 100%;
    margin-bottom: 20px;
  }

  @media screen and (min-width: 768px) and (max-width:1199px) {
    display: block;
    width: 450px;
    margin-bottom: 20px;
  }
}

.mod-button {
  position: relative;
  padding: 10px 62px 10px 28px;
  background-color: var(--accent-color);
  color: var(--white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  cursor: pointer;


  &::before {
    content: "";
    position: absolute;
    display: flex;
    right: 25px;
    bottom: 15px;
    width: 25px;
    height: 25px;
    background-image: url(../images/send.svg);
  }
}