:root {

  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196F3;
  --white-color: #ffffff;
  --black-color: #000000;
  --background-semi-dark: #f5f4fa;
  --background-midle-section: #f5f5f5;
  --background-dark-color: #2f303a;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--white-color);
}

body.modal-open {
  overflow: hidden;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}



a {
  text-decoration: none;
  list-style: none;
}

a:hover,
a:focus {
  color: var(--accent-color);
}

.btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  color: var(--title-text-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  color: #ffffff;
  background-color: var(--accent-color);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}