// $bs-color:green;
$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196F3;
$white-color: #ffffff;
$black-color: #000000;
$background-semi-dark: #f5f4fa;
$background-midle-section: #f5f5f5;
$background-dark-color: #2f303a;